{% extends "business01/base.html" %}


{% block breadcrumbs %}
    <li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Businesses
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h4>All Businesses</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">

          {% for business in businesses %}
            <li><a href="business/{{ business.id }}">{{business.ticker}}</a></li>
          {% endfor %}
        </div>
    </div>
{% endblock %}
